.advantages {
    padding-top: 60px;
}

.advantages-list {
    &__icon-box {
        background-color: var(--primary-grey-color);
        @extend %align;
        height: 120px;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__subtitle {
        font-weight: 700;
        @include font(14px, 16px);
        text-transform: uppercase;
        color: var(--primary-text-color);
    }

    &__desc {
        @include font(14px, 24px);
        color: var(--secondary-text-color);
    }
}

@media screen and (max-width: 767px) {
    .advantages-list {
        &__subtitle {
            text-align: center;
        }
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}


@media screen and (min-width: 768px) {
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &__item {
            flex-basis: calc((100% - 30px) / 2);
        }
    }
}

@media screen and (min-width: 1200px) {
    .advantages {
        padding-top: 94px;
    }

    .advantages-list {
        justify-content: space-between;
        
        &__item {
            flex-basis: calc((100% - 90px) / 4);
        }
    }

}