.page-header {
    border-bottom: 1px solid var(--header-border);
}

.page-header__container {
    display: flex;
    align-items: center;
}

// MOBILE

@media screen and (max-width: 767px) {
    .page-header__container {
        justify-content: space-between;
    }

    .menu__container {
        display: none;
    }

    .page-contacts {
        display: none;
    }

    .mobile-menu-btn {
        border: 0;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        fill: var(--primary-black-color);
        transition: fill var(--transition-basic);

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }

        &_open {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

// TABLET 

@media screen and (min-width: 768px) {

    .mobile-menu-btn_open {
        display: none;
    }

    .page-navigation__container {
        display: flex;
        align-items: center;
    }

    .menu__container {
        display: flex;
        align-items: center;
        column-gap: 50px;
    }

    .menu__link,
    .page-contacts__link {
        font-weight: 500;
        @include font(14px, 16px);
        letter-spacing: 0.02em;
        transition: color var(--transition-basic);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .menu__link {
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
        color: var(--primary-text-color);

        &::before {
            content: "";
            position: absolute;
            height: 4px;
            width: 100%;
            right: 0;
            bottom: -1px;
            border-radius: 2px;
            background: var(--accent-color);
            transform: scale(0);
            transition: transform var(--transition-basic);
        }

        &:hover::before,
        &:focus::before {
            transform: scale(1);
        }
    }

    .menu__link_current {
        color: var(--accent-color);

        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 4px;
            width: 100%;
            right: 0;
            bottom: -1px;
            border-radius: 2px;
            background: var(--accent-color);
        }
    }

    .page-contacts {
        margin-left: auto;

        &__link {
            color: var(--secondary-text-color);
        }

        &__icon {
            fill: currentColor;
            margin-right: 8px;
        }
    }

        @media screen and (max-width: 1199px) {
            .page-contacts__item:not(:last-child) {
                margin-bottom: 10px;
            }
        }
}

// DESKTOP

@media screen and (min-width: 1200px) {

    .page-contacts__container {
        display: flex;
        align-items: center;
    }

    .page-contacts {
        &__link {
            display: flex;
            align-items: center;
        }

        &__item:not(:last-child) {
            margin-right: 50px;
        }

        &__icon {
            margin-right: 10px;
        }
    }
}
