.team {
    background-color: var(--primary-grey-color);

    &-sm {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

.team-list__item {
    background-color: var(--primary-white-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-box {
    padding-top: 30px;
    padding-bottom: 24px;

    &__member {
        font-weight: 500;
        @include font(16px, 19px);
        color: var(--primary-text-color);
    }

    &__desc {
        @include font(16px, 19px);
        color: var(--secondary-text-color);
    }
}


@media screen and (max-width: 767px) {
    .team-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

    }
}

@media screen and (min-width: 1200px) {
    .team-box {
    padding-bottom: 30px;
    }
}
