@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 101;
        width: 100%;
        height: 100%;
        background-color: var(--primary-white-color);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity var(--transition-basic), visibility var(--transition-basic);

        &.is-open {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }

    .mobile-menu__container {
        position: relative;
        padding-left: 40px;
    }

    .mobile-menu-close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .mobile-menu__list {
        padding-top: 48px;
    }

    .mobile-menu__item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .mobile-menu__link {
        font-weight: 500;
        @include font(40px, 47px);
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition: color var(--transition-basic);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &_current {
            color: var(--accent-color);
        }
    }

    .mobile-menu__contacts {
        padding-top: 306px;
    }

    .mobile-menu__contacts-tel {
        font-weight: 500;
        @include font(34px, 40px);
        letter-spacing: 0.02em;
        color: var(--accent-color);
        margin-bottom: 32px;
    }

    .mobile-menu__contacts-email {
        font-weight: 500;
        @include font(24px, 28px);
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
    }

    .mobile-menu__sm {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 64px;
    }

    .mobile-menu__sm-item:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    .mobile-menu__sm-link {
        font-weight: 500;
        @include font(18px, 22px);
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}