.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;

    &__item {
        flex-basis: calc((100% - 60px) / 3);
    }
}

.portfolio-list__link {
    transition: box-shadow var(--transition-basic);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-info {
    padding: 20px 24px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    &__title {
    font-weight: 700;
    @include font(18px, 36px);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primary-text-color);
    }

    &__desc {
        @include font(16px, 30px);
        color: var(--secondary-text-color);
    }
}

.portfolio-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
}

.portfolio-wrapper__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(101%);
    transition: transform var(--transition-long);
    @include font(18px, 28px);
    padding: 63px 24px;
    color: var(--primary-white-color);
    background-color: var(--portfolio-overlay-color);

    .portfolio-list__link:hover &,
    .portfolio-list__link:focus & {
        transform: translateY(0);
    }
}